@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  height: 95vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #090b1a;
  color: white;
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.9em;
  text-align: center;
  font-weight: 700;
}

h1 span {
  color: #aa5cdb;
}

.card {
  margin: 0 auto;
  text-align: center;
  background-color: #1b1938;
  width: 95%;
  border-radius: 10px;
  height: 750px;
}

.card .col .main-content {
  padding: 15px;
  margin: 0 auto;
}

.card .col .main-content .text-info {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.8em;
  font-weight: 400;
  text-align: center;
  width: 265px;
  margin: 0 auto;
  font-size: 0.9em;
}

.card .col .img-back {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
  background-image: url("/images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card .col .img-back .transparent {
  height: 200px;
  background-color: #aa5cdb;
  mix-blend-mode: multiply;
}

.statics-container {
  margin: 20px 0;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statics-container .item {
  width: 80px;
  color: rgba(255, 255, 255, 0.6);
}

.statics-container .item h2 {
  color: white;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.statics-container .item span {
  text-transform: uppercase;
  font-weight: 400;
  font-size: small;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 420px) {
  .card {
    border-radius: 10px;
    background-color: #1b1938;
    width: 950px;
    height: 500px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card .col {
    width: 50%;
  }
  .card .col .main-content {
    width: 75%;
    padding: 60px;
    margin: 0 auto;
  }
  .card .col .img-back {
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    background-image: url("/images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
  }
  .card .col .img-back .transparent {
    background-color: #aa5cdb;
    mix-blend-mode: multiply;
    height: 100%;
  }
  .statics-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .statics-container .item {
    width: 80px;
    color: rgba(255, 255, 255, 0.6);
  }
  .statics-container .item h2 {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */